body  {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  font-size: calc(1em + 1vw);
  background: blanchedalmond;
  color: darkolivegreen;
  text-align: center;
}
header,section,footer{ display: block; }
h1 {
  margin: .5em 0;
  font-size: 1.2em;
}
form { margin: .5em 0; }
button {
  max-width: 90vw;
  width: 100%;
  min-height: 50vh;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  font-family: inherit;
  font-size: .8em;
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: none;
  background: burlywood;
  position: relative;
}
button p { margin: 5px 0; }
button img {
  border-radius: 10px;
  border: 5px solid #000;
  margin: 0 auto;
  height: auto;
  object-fit: contain;
  max-height: 60vh;
  max-width: 90%;
}
button.loading:after{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  content: 'Loading...';
  background: rgba(0,0,0,.8);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
button.loading img { opacity: 0; }
button.error:before {
  content: '⚠️ Oh no! No dogs found, try another breed!';
  color: firebrick;
  display: block;
  margin: 5px;
  border: 2px solid darkred;
}
footer { font-size: .6em; }
footer a { color: #000; }
footer p { margin: 5px 0 0 0;}
@media (min-width:600px) {
  section {
    display: flex;
  }
}