body  {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  font-size: calc(1em * 2vw);
  background: blanchedalmond;
  color: darkolivegreen;
  text-align: center;
}
header,section,footer{
  display: block;
}
h1 {
  margin: .5em 0;
  font-size: 1.5em;
}
button {
  width: 40vw;
  display: flex;
  min-height: 50vh;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1em;
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: none;
  background: burlywood;
  position: relative;
}
button.loading:after{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  content: 'Loading...';
  background: rgba(0,0,0,.5);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
button.error:before{
  content: '⚠️ Oh no! No dogs found, try another breed!';
  color: firebrick;
  display: block;
  max-width: 40vw;
  margin: 5px;
  border: 2px solid darkred;
}
button img {
  border-radius: 10px;
  border: 5px solid #000;
  width: 95%;
  margin: 0 auto;
  height: auto;
  object-fit: cover;
}
button p {
  max-width: 40vw;
}
#breed {
  font-family: inherit;
  font-size: 1em;
  color: darkslategray;
  background:whitesmoke;
  border: 1px solid darkolivegreen;
  text-transform: capitalize;
}
#breed, #sub, button span {
  text-transform: capitalize;
}
form {
  margin: 1em 0;
}
footer {
  font-size: .8em;
}
footer a {
  color: #000;
}

